/explorer/src/main/java/version/GitVersion.java
/explorer/natives/

# Gradle files
.gradle

# Checkstyle
.checkstyle

# Eclipse project files
.classpath
.project
.settings/
bin/
build/
/.metadata/
/.recommenders/

# Other
*.log